.image__container__carousel {
    width: 100%;
}

.image__carousel {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width:700px) {
    .image__carousel {
        width: 100%;
        height: 35vh;
        object-fit: cover;
    }
}

.carousel :nth-child(4) {
   display: none;
}

