.container {
    display: flex;
    gap: 20px;
    background-color: #e3e6e6;
    padding: 28px 18px;
}

.cart_item__container {
    width: 75%;
    background-color: white;
    padding: 28px 18px;
    position: relative;
}

.cart_item__title {
    font-size: 28px;
    font-weight: 600;
}

.tag {
    color: #007185;
    margin-top: 6px
}

.price__tag {
    position: absolute;
    right: 26px;
    top: 63px;
    color: #565959;
}

.cart__items {
    display: flex;
    gap: 18px;
}

.image__container {
    padding-left: 45px;
}

.image__container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.item_description__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.item__title {
    font-size: 18px;
    font-weight: 600;
    width: 90%;
}

.stock__tag {
    font-size: 14px;
    color: #007600;
}

.shipping__tag {
    color: #615a5a;
}

.cart_items__feature {
    display: flex;
    gap: 20px;
}

.cart_items__feature input {
    width: 5%;
    border: 1px solid rgb(156, 150, 150);
    text-align: center;
}

.delete {
    color: #0066C0;
}

.delete:hover {
    text-decoration: underline;
    cursor: pointer;
}

.item__price {
    font-weight: bold;
    margin-top: 20px;
}

.sub__total {
    text-align: end;
}

.right__card {
    background-color: white;
    width: 20%;
    height: 250px;
    padding: 15px 20px;
}

.right_card__description {
    display: flex;
    gap: 10px;
}

.svg__container img{
    width: 21%;
}

.desc {
    margin-left: -67px;
    font-size: 13px;
}

.desc span {
    color: #008500;
}

.right_sub__total {
    margin-top: 20px;
    margin-bottom: 10px;
}

.emi__description {
    margin-top: 10px;
    font-size: 13px;
}

.buy__button {
    border: none;
    background-color: #edc600;
    padding: 7px;
    width: 100%;
    border-radius: 4px;
    margin: 8px 0;
    transition: background-color 0.3s;
}

.buy__button:hover {
    cursor: pointer;
    background-color: #d7b402;
}

@media (max-width:700px) {
    .container{
        flex-direction: column-reverse;
    }
    .right__card{
        width: 85%;
    }
    .cart__items {
        display: block;
    }
    .cart_item__container{
        width: 85%;
    }
    .cart_items__feature input{
        width: 10%;
    }
    .price__tag{
        display: none;
    }
    .item__title{
        width: 100%;
    }
}