body {
    margin: 0;
}

.header__container {
    height: 60px;
    background-color: #231f20;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 100;
}

@media (max-width: 800px) {
    .navbar__container {
        position: relative;
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 30px;
        justify-content: space-between;
    }

    .header__container {
        height: 120px;
        display: block;
        padding: 13px 10px;
    }

    .sign__button {
        position: absolute;
        top: -85px;
        right: 0px;
    }
}

@media (max-width: 390px) {
    .header__container {
        height: 130px;
    }
}
.image_tag {
    width: 95px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.image_tag:hover {
    opacity: 0.7;
}

.search__box {
    display: flex;
    flex:0.8;
    align-items: center;
}

.searchbox__icon {
    background-color: #febd69;
    padding: 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -40px;
    cursor: pointer;
    transition: opacity 0.9s ease;
}

.searchbox__icon:hover {
   opacity: 0.8;
}

.seachbox__input {
    height: 40px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    caret-color: grey;
    padding: 0px 10px;
    border: none;
    outline: none;
}

/* .seachbox__input:focus {
    border: 3px solid orange;
} */

.seachbox__input::placeholder {
    color: grey;
    font-weight: 400;
    margin-left: 10px;
}

.navbar__container {
    color: white;
    display: flex;
    gap: 20px;
}

.sign__button > span,
.return_order__button > span,
.your_prime__button > span {
    font-weight: bolder;
}

.sign__button,
.return_order__button,
.your_prime__button {
    cursor: pointer;
    transition: opacity 0.3s;
    width: 25%;
}

.sign__button:hover,
.return_order__button:hover,
.your_prime__button:hover {
    opacity: 0.7;
}

.sign__button,
.your_prime__button{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.basket__container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s;
}

.basket__container:hover {
    opacity: 0.7;
}