.home {
    width: 100%;
    margin-bottom: -170px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

@media (max-width:700px) {
    .home {
        margin-bottom: 0;
    }
}

.products__container {
    padding-left: 10px;
    padding-right: 10px;
}