.order__container {
    padding: 30px 25px 10px 140px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.layout {
    display: flex;
    gap: 10px;
}

.left__layout {
    flex: 4;
    border: 1px solid #bdc0c0;
    border-radius: 5px;
}

.header__section {
    display: flex;
    gap: 30px;
    background-color: #f0f2f2;
    color: #565959;
    font-size: 13px;
    padding: 20px;
}

.right__layout {
    flex: 1;
    background-color: pink;
    height: 30px;
}