.product__container {
    background-color: white;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
}

/* @media (max-width:700px) {
    .product__container {
        width: 85%;
        padding: 7px;
    }
} */

.product__info {
    display: flex;
    gap: 20px;
}

.title {
    font-size: 22px;
    font-weight: bold;
}

.seeall__link {
    color: #007185;
    display: flex;
    align-items: center;
    font-size: 14px;
}

/* .seeall__link:hover{
    cursor: pointer;
    text-decoration: underline;
} */

.carousel-container button{
   height: 80px;
   border-radius: 0;
   background-color: white;
   border: 2px solid #007185;
   transition: background-color 0.3s;
   transition: opacity 0.3s;
   opacity: 0;
}

.carousel-container:hover button{
   opacity: 1;
}

.carousel-container button::before{
    color: black;
}
 
.carousel-container button:hover {
    background-color: rgb(229, 226, 226);
}