.cards {
    display: flex;
    gap: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;
}

.card {
    width: 25%;
    background-color: white;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 2px;
    z-index: 1;
}

.card__image__container {
    height: 170px;
    width: 110px;
}

.card__image{
    width: 100%;
    height: 80%;
    object-fit: contain;
    overflow: hidden;
    transition: all ease 0.3s;
}

.card__image:hover {
    cursor: pointer;
    scale: 0.85;
}


.card__images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    height: 90%;
}

.card__desc {
    display: flex;
    gap: 8px;
}

.percentage__offer__card {
    background-color: #cc0c39;
    color: white;
    font-size: 11px;
    padding: 5px;
    width: 40%;
}

.offer__desc_card {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #cc0c39;
    font-weight: 600;
}

.card__title {
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: bold;
}


@media (max-width:700px) {
    .cards {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 20px;
        padding: 0;
    }
    .card {
        width: 92%;
        padding: 12px;
        padding-right: 18px;
    }
    .card__image{
        width: 80%;
        height: 60%;
    }    
}

@media (max-width:350px) {
   .card__image__container {
    height: 170px;
    width: 110px;
   }   
}

@media (min-width:351px) and (max-width:750px) {
    .card__image__container {
     height: 230px;
     width: 170px;
    }   
 }




