.product_detail__container {
    display: flex;
    flex-direction: row;
}

.product__left {
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.product__image{
    width: 75%;
}

.button__container {
    display: flex;
    gap: 48px;
    margin-left: -75px;
}

.buy__now {
    border: none;
    padding: 10px 50px;
    background-color: orange;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.add_cart__button {
    border: none;
    padding: 10px 40px;
    background-color: #FFD814;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.buy__now:hover {
    cursor: pointer;
    background-color: #d98d02;
}

.add_cart__button:hover {
    cursor: pointer;
    background-color: #d7b402;
}

.product_right__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product__right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    width: 85%;
    box-shadow: 0px -1px 6px 0px grey;
    border-radius: 5px;
    color: #575656;
}

.product__title {
    width: 85%;
    font-size: 23px;
    font-weight: 600;
}

.rating {
    color: #C7511F;
    margin-left: 3px;
}

.rating span {
    font-weight: 600;
}

.product__deal span,
.product__save span {
    color: #B12704;
}

.product__delivery {
    color: #007185;
}

.proudct__description {
    line-height: 23px;
}

.proudct__description span {
    font-weight: bold;
    font-size: 19px;
}

@media (max-width:700px) {
    .product_detail__container {
        display: flex;
        flex-direction: column;
    }
    .product__left {
        width: 100%;
    }
    .product_image__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }
    .button__container {
        display: flex;
        gap: 0px;
        margin-left: 0px;
    }
    .product_right__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product__title {
        width: 97%;
    }
    .product__right {
        margin-top: 25px;
    }
}
