.product__card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image__container {
    width: 200px;
    height: 200px;
    padding: 10px;
    overflow: hidden;
    transition: all ease 0.3s;
}

.image__container:hover {
    scale: 0.83;
}

.product__image {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.product__offers {
    display: flex;
    gap: 7px;
}

.percentage__offer {
    background-color: #cc0c39;
    color: white;
    font-size: 11px;
    padding: 5px;
}

.offer__desc {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #cc0c39;
}

.product__description {
    font-size: 13px;
    margin-top: 5px;
}

@media (max-width:700px) {
    .image__container {
        width: 130px;
        height: 180px;
        padding: 5px;
    }
    .product__offers {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
}

@media (max-width:330px) {
    .image__container {
        width: 100px;
        height: 150px;
        padding: 4px;
    }
}