.footer__container {
    background-color: #231f20;
    color: white;
    margin-top: 50px;
    padding: 50px 150px;
}

.footer__sections {
    display: flex;
    justify-content: space-around;
}

.footer__titles {
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 3px;
}

p {
    font-size: 14px;
    margin: 0;
    line-height: 24px;
}

.contact__section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer__logo {
    width: 40%;
}

.bottom__footer {
    text-align: center;
    padding-top: 60px;
    font-size: 12px;
}

.condtions__footer {
    display: flex;
    gap: 10px;
    justify-content: center;
}