.image__tag {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.product__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 0px 20px;
}