@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

.products__container {
    background-color: #e3e6e6;
}

body{
  font-family: "Open Sans", sans-serif;
}
